credentials:
  :access_token: "<token_id>"
  :login: <user>
repositories:
  "ManageIQ/integration_tests":
    fixture_eval:
      :enabled: true
      search_loc: "cfme/tests/"
      global_loc: "cfme/fixtures/"
      clone_loc: "/tmp/fixture_bot"
  "ManageIQ/wrapanapi":
    fixture_eval:
      :enabled: false

